<header class="headline">
  <h1 id="pageName" i18n>Lukas Boecker</h1>
  <nav class="navigation">
    <ul>
      <li>
        <a href="" i18n>Home</a>
      </li>
      <li>
        <a href="" i18n>Skills</a>
      </li>
      <li>
        <a href="" i18n>Projects</a>
      </li>
      <li>
        <a href="" i18n>About</a>
      </li>
    </ul>
  </nav>
  <aside class="settings">
    <section class="display-mode">
      Dark/Light Mode
    </section>
    <section class="language">
      <img class="global-icon" src="../../../../assets/icons/global.png" alt="Global Icon">
      <div>
        <p i18n>English</p>
        <p i18n>German</p>
        <p i18n>Portuguese</p>
      </div>
    </section>
  </aside>
</header>
